@media (width:1024px) {
    .best-sales .cards-buy a {
     
        padding: 10px 3px;
    }
    .Register-sign .nav-pills .nav-link {
        font-weight: 500;
        font-size: 13px;
    }}

@media (max-width:768px) {
    .Register-sign .nav-pills .nav-link {
        font-weight: 500;
        font-size: 14px;
    }

}


@media (max-width:992px) {
    .header-logo {
        margin: 0 auto;
    }
    .header-logo .logo img {
        display: block;
        width: 100px;
        margin-bottom: 15px;
        margin: 0 auto;
 
    }
    .Register-sign .card {
      
        padding: 0px;

    }
    .Register-sign form input {
        width: 100%;
}
.Register-sign .nav-pills .nav-link {
    font-weight: 500;
    font-size: 13px;
}

 
.navbar-toggler {
  font-size:20px;
  color: #fff;
  background-color: #e33b3a;
}
.navbar-nav {
    display: flex;
    margin:0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: 3px solid #fff;
}
.row1{
    margin-top:10px;
}
.about-page .desc-about p {
    color: #2a2a2a;
    font-size: 16px;
    text-align: left;
    padding: 27px;
}

}